.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom right, rgb(68, 68, 68), rgb(0, 0, 0));
}

.App-header {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 120px;
  height: auto;
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.navigation-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(71, 71, 71, 0.1);
  border-radius: 1rem;
}

.add-token-section {
  margin-bottom: 20px;
}

.add-token-title{
  margin-bottom: 10px;
}

.token {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
  max-width: 90%; 
  overflow: auto; 
}

.disclaimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(227, 227, 227);
  font-size: 0.8rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
  margin-bottom: 0.7rem;
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: white;
  background-color: rgb(4, 118, 150);
  border: none;
  cursor: pointer;
  margin: 0.25rem;
  transition: background-color 0.3s;
}

.App-header {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(227, 227, 227);
  padding-left: 4rem; 
  padding-right: 4rem; 
}

button:hover {
  background-color: rgb(0, 166, 212);
}

.App-footer {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(227, 227, 227);
  padding: 1rem 0;
}

a {
  color: rgb(50, 50, 227);
  text-decoration: none;
  transition: color 0.3s;
  text-decoration: underline;
}

h4 {
  margin: 0;
  color: rgb(227, 227, 227);
  margin-bottom: 0.25rem;
}

.contract-address {
  font-size: 0.8rem;
  margin: 0;
  color: rgb(227, 227, 227);
  margin-bottom: 0.5rem;
  word-wrap: break-word;
}

a:hover {
  color: #aeeeff;
}

.token h4,
.token p,
.token button {
  margin-bottom: 0.5rem;
}

.token button {
  width: 100%;
}

@media (max-width: 767px) {
  .navigation-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navigation-buttons button {
    margin: 0.25rem auto;
    width: 80%;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }  
}